<!doctype html>
<html ng-app="torrentBoy">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js?x49983"></script>
		<link rel="stylesheet" href="/static/css/style.css?x49983" />
    </head>
    <body ng-controller="torrentBoyController">
        <div class="container">

        <img src="static/img/torrentBoy.png" />

        <div class="form-group">
            <form role="searchForm" ng-submit="search()">
                <input class="form-control" type="text" ng-model="searchTerm" name="text" required/>
                <input class="btn btn-success" type="submit" id="submit" value="Search" />
            </form>
        </div>

        <div>
            <table class="table table-striped table-hover ">
                <tr>
                    <th>name</th>
                    <th>size</th>
                    <th>seeders</th>
                    <th>leechers</th>
                </tr>

                <tr ng-repeat="result in results">
                    <td><button ng-click="queue_download(result.urn, result.link)">GET</button> <a href="{{ result.link }}">{{result.name}}</a></td>
                    <td>{{result.size}}</td>
                    <td>{{result.seeders}}</td>
                    <td>{{result.leechers}}</td>
                </tr>
            </table>
        </div>
        </div>
    </body>
</html>